.env
.env.*
*.local.yaml
*.local.yml

/bin/
/dist/
*.exe
*.test
*.out
vendor/

docker-data/
.docker/volumes/

**/clickhouse-data/
**/pgdata/
**/minio-data/
**/redpanda-data/

.idea/
.vscode/
*.iml

.DS_Store

*.log
/tmp/